MONGO_URI_TEST=mongodb://admin_pro:clave_segura_123@localhost:27017/task_manager?authSource=admin
MONGO_URI=
JWT_SECRET=secret123

NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

MONGO_ROOT_USER=admin_pro
MONGO_ROOT_PASSWORD=clave_segura_123

ME_CONFIG_BASICAUTH_USERNAME=admin_gui
ME_CONFIG_BASICAUTH_PASSWORD=clase_segura_gui_123

RESEND_API_KEY=re_GNu7Xie7_AuEgzNnHqQE15Xd4uTFjoHxt
